<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-image: url('https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
    }
    </style>
    <body>
        <center>
            <h1 style="font-size:300%;color:rgb(206, 24, 24);background-color:rgb(60, 164, 164);"><b><i>ANDRA PRADESH</i></b></h1>
            <h1><b>Andhra Pradesh Tourism Development Corporation (APTDC)</b></h1>
           <center>
            <h1><a href="{% url 'specific:tirumala' %}">TIRUMALA</a></h1>
            <H1><H1><a href="{% url 'karthik:arakuvally'%}">ARAKUVALLY</a></H1></H1>
            <H1><a href="{% url 'karthik:amaravathi'%}">AMARAVATHI</a></H1>
            <h1><a href="{% url 'specific:lepakshi' %}">LEPAKSHI</a></h1>
           </center>
        </center>
    </body>
</html>