<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(184, 152, 70);">
    <center><h1><b><i>TIRUMALA</i></b></h1></center>
    <img src="https://assets.thehansindia.com/h-upload/2020/02/23/728250-lepakshi.jpg?width=500&height=300" alt="Flowers in Chania" width="460" height="345">
    <h2><p>Lepakshi is a village in the Anantapur district of Andhra Pradesh.<br> 
        It's about 115 km from Bengaluru and 14 km east of Hindupur<br>
        Lepakshi is known for its:<br>
        <h3>Temples: Shrines dedicated to Shiva, Vishnu, Papanatheswara, Raghunatha, Rama, and other deities</h3>
        <h3>Monuments: Impressive monuments</h3>
        <h3>Art: Traditional art</h3>
        <h3>Architecture: Vijayanagar style architecture</h3>
        <h3>Natural attractions: Natural attractions</h3>
    </p></h2>
    <center>
        <H1><a href="{% url 'specific:andra'%}">ANDRA</a></H1>
        <H1><a href="{% url 'karthik:arakuvally'%}">ARAKUVALLY</a></H1>
        <H1><a href="{% url 'karthik:amaravathi'%}">AMARAVATHI</a></H1>
        <h1><a href="{% url 'specific:tirumala' %}">TIRUMALA</a></h1>
    </center>
    
</body>
</html>