<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(184, 152, 70);">
    <center><h1><b><i>LEPAKSHI</i></b></h1></center>
    <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202005/tirupati_temple_660_080515021958_030520122938.jpg?size=948:533" alt="Flowers in Chania" width="460" height="345">

    
    
    <h2><p>Tirumala is a pilgrimage center in the Chittoor district of Andhra.<br> 
    It's home to the Tirupati Balaji Temple, also known as the Tirumala Temple or Tirupati Temple.<br>
    The temple is located on the seventh peak of the Tirumala Hills, which are 3,200 feet high.<br>
    The seven peaks represent the seven hoods of Adisesha, the serpent under which Vishnu is said to reside. </p>
<p>Tirumala is one of the most visited pilgrimage centers in the world.<br> It's also one of the world's richest temples. <br>
    Millions of devotees visit the temple every year.

</p></h2>
<center>
    <H1><a href="{% url 'specific:andra'%}">ANDRA</a></H1>
    <H1><a href="{% url 'karthik:arakuvally'%}">ARAKUVALLY</a></H1>
    <H1><a href="{% url 'karthik:amaravathi'%}">AMARAVATHI</a></H1>
    <h1><a href="{% url 'specific:lepakshi' %}">LEPAKSHI</a></h1>
</center>
    
</body>
</html>